# Ignore Python byte code
#########################
*.pyc

# Ignore system directories
###########################
.vscode
.DS_Store

# Ignore compiled libraries
###########################
*.so

# Ignore output files and lists
###############################
*.sam
*.bam
*.classifications
*.events
*.summary
*.pdf
*.ini
*.txt
