# Ignore Python byte code
#########################
*.pyc

# Ignore system directories
###########################
.vscode
.DS_Store

# Ignore compiled libraries
###########################
*.so

# Ignore NW_py.cpp
##################
NW_py.cpp

# Ignore output files and lists
###############################
*.sam
*.bam
*.classifications
*.events
*.summary
*.pdf
*.ini
*.txt

# Ignore build directories
##########################
bin/
build/
lib/
*.egg-info/
