# Ignore Python byte code
#########################
__pycache__/
*.pyc

# Ignore system files and directories
#####################################
.vscode
.DS_Store

# Ignore compiled libraries
###########################
*.so

# Ignore nw_align.cpp
##################
nw_align.cpp

# Ignore output files and lists
###############################
*.sam
*.bam
*.bai
*.csi
*.assignments
*.classifications
*.events
*.summary
*.pdf
*.ini
*.txt

# Ignore FASTQ and template files
#################################
*.fastq*
*.fq*
*.template

# Ignore build directories
##########################
bin/
build/
lib/
*.egg-info/
dist/
